/* Email */
$email-body-color: grey;
$email-header-bg: white;
$email-primary-color: red;
$email-secondary-color: #fe5a31;

$email-brand-color: blue;
$email-brand-color-2: #576ff6;

$email-hr-color: #f0f0f0;
$email-content-bg: white;
$email-footer-color: #666;
$email-footer-a-color: #999;
